/* 
* GLOBAL
*/

body {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
	background: #f2f1ef;
	color: inherit;
	line-height: 23px;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
	font-weight: 700;
}

/* 
* HEADER
*/

#masthead {
	background: #ffffff;
	padding: 54px;
	margin-bottom: 60px;
	position: relative;
}

#masthead a {
	font-weight: 700;
}

.site-branding {
	float: left;
}

.site-title {
	text-transform: uppercase;
	font-size: 30px;
	margin: 0;
}

.site-title a {
	color: rgba(62, 72, 73, 0.8);
}

.main-navigation {
	float: right;
	text-align: right;
	width: auto;
	clear: none;
}

.menu-main-container, .nav-menu {
	overflow: auto;
}

.main-navigation li {
	padding: 0 27px;
}

.main-navigation a {
	color: rgba(74, 81, 76, 0.8);
	text-transform: uppercase;
	font-size: 15px;
	display: block;
}

@media screen and (max-width: 71.8em) {
	#masthead {
		padding: 27px;
	}
}

/* 
* MOBILE NAV
*/

button, #next a {
	background-color: #1ca8c7;
	padding: 31px 48px 33px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	line-height: 23px;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
}

button span {
	display: none;
}

button:hover, #next a:hover {
	background-color: #1ca8c7;
	box-shadow: none;
}

button.menu-toggle {
	padding: 15px 24px 16px;
}

.main-navigation.toggled {
}

.main-navigation.toggled ul {
	position: absolute;
	top: 100%;
	left: 0;
	display: block;
	z-index: 999;
	width: 100%;
	background-color: rgba(255,255,255,0.8);
}

.main-navigation.toggled ul li {
	float: none;
	line-height: 3;
	border-bottom: 1px solid rgba(0,0,0,0.5);
}

/* 
* CONTENT
*/

article {
	background: #ffffff;
}

.entry-wrapper {
	padding: 30px;
}

.entry-title {
	margin: 0;
}

.entry-title a {
	font-size: 24px;
	color: #3e4849;
	font-weight: 500;
}

.entry-content {
	margin-top: 0.5em;
}

.entry-content p {
	color: #717171;
	font-size: 16px;
	font-weight: 400;
}

.entry-content p:last-of-type {
	margin-bottom: 0.5em;
}

.more-link {
	color: #21a6cb;
	font-weight: 500;
}

.grid {
	max-width: 2000px;
	margin: 0 auto;
	padding: 0;
}

.grid-item { 
	width: 370px; 
	margin-bottom: 30px;
}

@media all and (max-width:43.75em) {
	.grid-item {
		width: 100%;
	}
}

.nav-links {
	text-align: center;
	clear: both;
	margin-top: 85px;
}

/* 
* FOOTER
*/

#colophon {
	margin: 100px auto 50px;
	/*padding-top: 100px;*/
}
#colophon, #colophon a {
	text-align: center;
	color: rgba(62, 72, 73, 1);
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	font-weight: 500;
}

.footer-flourish {
	position: relative;
	max-width: 308px;
	margin: 0 auto;
}

.footer-flourish:after {
	position: absolute;
	content: "";
	top: 45%;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #607777;
	opacity: 0.4;
	z-index: -1;
}

.footer-flourish span {
	background: #f2f1ef;
	padding: 14px;
	display: inline-block;
}

@media all and (max-width: 37.5em) {
	.sep {
		display: none;
	}
	.wp-link {
		display: block;
	}
}