/* 
* FOOTER
*/

#colophon {
	margin: 100px auto 50px;
}

#colophon, #colophon a {
	text-align: center;
	color: #3E4849;
	font-size: 18px;
	line-height: 28px;
	font-weight: 400;
	&:hover {
		color: #000000;
	}
}

.footer-flourish {
	position: relative;
	max-width: 308px;
	margin: 0 auto;
	span {
		background: #f2f1ef;
		padding: 14px;
		display: inline-block;	
	}
	&:after {
		position: absolute;
		content: "";
		top: 45%;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: #607777;
		opacity: 0.4;
		z-index: -1;
	}
}

@media all and (max-width: 37.5em) {
	// The line break here was bad, so I removed the seperator once the layout broke
	.sep {
		display: none;
	}
	.wp-link {
		display: block;
	}
}