/* 
* HEADER
*/

#masthead {
	background: #ffffff;
	padding: 54px;
	margin-bottom: 60px;
	position: relative;
}

#masthead a {
	font-weight: 700;
}

.site-branding {
	float: left;
}

.site-title {
	text-transform: uppercase;
	font-size: 30px;
	margin: 0;
}

.site-title a {
	color: #656D6D;
	color: rgba(62, 72, 73, 0.8);
	&:hover {
		color: #000000;
	}
}

.main-navigation {
	float: right;
	text-align: right;
	width: auto;
	clear: none;
}

.menu-main-container, .nav-menu {
	overflow: auto;
}

.main-navigation li {
	padding: 0 27px;
}

.main-navigation a {
	color: #6E7470;
	color: rgba(74, 81, 76, 0.8);
	text-transform: uppercase;
	font-size: 15px;
	display: block;
	&:hover {
		color: lighten(#6E7470, 15);
		color: rgba(74, 81, 76, 0.4);
	}
}

@media screen and (max-width: 71.8em) {
	#masthead {
		padding: 27px;
	}
	.site-title {
		line-height: 56px; // would probably prefer to vertical align a different way
	}
}

/* 
* MOBILE NAV
*/

button, %button {
	background-color: #1ca8c7;
	padding: 31px 48px 33px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	line-height: 23px;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
	&:hover {
		background-color: darken(#1ca8c7,15);
		box-shadow: none;
	}
}

.slicknav_menutxt {
	@extend %button;
	padding: 15px 24px 16px;
}

// This styling is commented out because it was using Underscores native navigation.js and such, but I switched to Slicknav
// button span {
// 	display: none;
// }

// button.menu-toggle {
// 	padding: 15px 24px 16px;
// }

// .main-navigation.toggled {
// 	 -webkit-animation: fadeIn 1s;
//     animation: fadeIn 1s;
// }

// .main-navigation.toggled ul {
// 	position: absolute;
// 	top: 100%;
// 	left: 0;
// 	display: block;
// 	z-index: 999;
// 	width: 100%;
// 	background-color: rgba(255,255,255,0.8);
// }

// .main-navigation.toggled ul li {
// 	float: none;
// 	line-height: 3;
// 	border-bottom: 1px solid rgba(0,0,0,0.5);
// }

.slicknav_menu {
	display:none;
}

@media screen and (max-width: 68em) {
	/* Slicknav customization, a little hacky right now */
	#menu {
		display:none;
	}
	
	.slicknav_menu {
		display: block;
		//float: right;
	}

	.slicknav_btn  {
		float: right;
		text-align: right;
		display: block;
	}

	.slicknav_nav {
		width: 100%;
	}

	.main-navigation {
		width: 100%;
		clear: none;
		margin-top: -40px;
		ul {
			padding-top: 40px;
		}
	}

	.main-navigation li {
		float: none;
		//width: 100%;
		text-align: center;
		padding: 20px 0;
		a {
			font-size: 18px;
		}
	}
}