/* 
* Index
*/

body {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
	background: #f2f1ef;
	color: inherit;
	line-height: 23px;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
	font-weight: 700;
	// Normally I use a Sass mixin here
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

article {
	background: #ffffff;
}

.entry-wrapper {
	padding: 30px;
}

.entry-title {
	margin: 0;
}

.entry-title a {
	font-size: 24px;
	color: #3e4849;
	font-weight: 500;
	&:hover {
		color: lighten(#3e4849, 15);
	}
}

.entry-content {
	margin-top: 0.5em;
}

.entry-content p {
	color: #717171;
	font-size: 16px;
	font-weight: 400;
}

.entry-content p:last-of-type {
	margin-bottom: 0.5em;
}

.entry-thumbnail a {
	&:hover {
		opacity: 0.8;
	}
}

.more-link {
	color: #21a6cb;
	font-weight: 500;
	&:hover {
		color: darken(#21a6cb, 15);
	}
}

.grid {
	max-width: 2000px;
	margin: 0 auto;
	padding: 0;
}

.grid-item { 
	width: 370px; 
	margin-bottom: 30px;
}

@media all and (max-width:43.75em) {
	.grid-item {
		width: 100%;
	}
}

.nav-links {
	text-align: center;
	clear: both;
	margin-top: 85px;
	a {
		@extend %button;
	}
}